<header id="header" class="header-area">

    <!-- Start header middle area -->
    <div class="header-top bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="header-top-inner">
                        <div class="logo bg-red">
                            <a routerLink="catalogue">
                                <img src="/assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="search-area">

                            <form class="navbar-form" role="search">
                                <div class="input-group add-on">
                                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    <div class="header-menu">
                        <ul>
                            <li>
                                <a routerLink="product-catalog">
                                    <span>Catalogue</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="system-features">
                                    <span>System features</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="stories">
                                    <span>Stories</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="pricing">
                                    <span>Pricing</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="blog">
                                    <span>Blog</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="about-us">
                                    <span>About us</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="contacts">
                                    <span>Contacts</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="shopping-cart">
                                    <i class="material-icons">add_shopping_cart</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End header middle area -->
</header>