<div class="cp-left-sidebar">
  <!-- Start cp category menu -->
  <div class="cp-category-menu cp-left-single">
    <h3 class="cp-left-title">CATALOGUE</h3>
    <div id="category-menu-active" class="cp-category-body">
      <ul>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Computers, Servers & Tablets

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Desktops & Workstations
          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Notebooks & Accessories

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Displays & Projectors

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Printers & Scanners

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Storage & Memory

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Components & Accessories

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Service & Support

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Software Applications

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Operating Systems

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Software Subscriptions

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Phones & Radios

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Navigation

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Audio & Video & TV

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Cameras & Camcorders

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Photo Equipment

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a (click)="openCollapseCategorySubMenu($event)">
            <i class="material-icons vrtcl-algn-txt-btm">chevron_right</i>
            Other

          </a>
          <ul class="cp-category-sub">
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
            <li>
              <a href="#">Test Item</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- End cp category menu -->


</div>